    <!-- Footers -->
    <div class="p-3 text-center" style="background-color: #333333 ; color: #ffffff; ">
        <footer class="my-4">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <img src="images/logo.svg" alt="TWF Logo" class="img-fluid" style="max-width:150px;">
            </div>
            <p>9/150 ม.4 ถ.นครอินทร์ ต.บางขุนทอง อ.บางกรวย จ.นนทบุรี 11130 <br> โทร 084-219-2688 <br> E-mail :
                TWF.BISINESS@GMAIL.com</p>
            <p class="text-center ">© 2025 TWF Company</p>
        </footer>
    </div>
    <!-- End Footers -->