    <!-- Header -->
    <nav class="navbar navbar-expand-lg sticky-top fw-bold fs-6"
        style="background-color: #f5f5f5; padding-left: 100px; padding-right: 100px;">
        <div class="container-fluid">
            <!-- โลโก้ + ชื่อบริษัท -->
            <a href="/index.html" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <img src="images/logo.svg" alt="TWF Logo" width="50" height="50" class="me-2">
                <span class="fs-4" style="margin-left: 10px;">TWF Bussiness</span>
            </a>

            <!-- ปุ่ม Hamburger (แสดงเฉพาะจอเล็ก) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- เมนู -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item"><a href="/index.html" class="nav-link" aria-current="page">หน้าเเรก</a></li>
                    <li class="nav-item"><a href="/services.html" class="nav-link">บริการของเรา</a></li>
                    <li class="nav-item"><a href="/news&activity.html" class="nav-link">ข่าวสารเเละกิจกรรม</a></li>
                    <li class="nav-item"><a href="/villages.html" class="nav-link">หมู่บ้านที่เราดูเเล</a></li>
                    <li class="nav-item"><a href="/about.html" class="nav-link">เกี่ยวกับเรา</a></li>
                    <li class="nav-item"><a href="/contact.html" class="nav-link">ติดต่อเรา</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Header -->
